# Frontend environment variables
VITE_CDN_BASE_URL=https://dxgrqchpcf965.cloudfront.net
VITE_CDN_DOCTORS_PREFIX=doctors/
VITE_CDN_INFRA_PREFIX=infrastructure/
VITE_GALLERY_MANIFEST_URL=https://dxgrqchpcf965.cloudfront.net/manifest.json
