# Frontend environment variables
VITE_S3_BASE_URL=https://dxgrqchpcf965.cloudfront.net/
VITE_S3_DOCTORS_PREFIX=doctors/
VITE_S3_INFRA_PREFIX=infrastructure/
VITE_GALLERY_MANIFEST_URL=https://dxgrqchpcf965.cloudfront.net/manifest.json
